.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.edu-title{
    position: relative;
}
.edu-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.edu-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.edu-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.myedu-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
}
.edu-format h2{
    font-size: 28px;
    font-weight: 600;
}
.edu-format h1{
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(267deg, #DA7C25 50%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.edu-format p{
    color: #d4d4d4;
    font-size: 20px;
    line-height: 30px;
    max-width: 300px;
}
.edu-format:hover{
    border: 2px solid #B923E1;
    transform: scale(1.05);
    transition: 0.4s;
}
/* 1st box hover */
.myedu-container .edu-format:nth-child(1):hover {
    background: url('../../assets/school.jpg') center/cover no-repeat;
}

/* 2nd box hover */
.myedu-container .edu-format:nth-child(2):hover {
    background: url('../../assets/pu.webp') center/cover no-repeat;
}

/* 3rd box hover */
.myedu-container .edu-format:nth-child(3):hover {
    background: url('../../assets/engineer.jpg') center/cover no-repeat;
}
@media(max-width: 768px){
    .education{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .edu-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .edu-title img{
        width: 130px;
        margin-right: -20px;
    }
    .myedu-container{
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}